div#page_content
    div#page_heading(data-uk-sticky="{ top: 48, media: 960 }")
        div.uk-width-medium-1-2(style="float: right;")
            div.uk-input-group
                span.uk-input-group-addon
                    .i.material-icons &#xE8B6;
                label Search
                input.md-input(type="text" data-ng-model="$companiesCtrl.search" md-input)
        h1(data-ng-bind="$companiesCtrl.listTitle")
        //- span.uk-text-upper.uk-text-small
            //- | Customers
            //- a(href="#"){{project_name}}
    div#page_content_inner
        div.md-card
            div.md-card-content
                div.uk-overflow-container.uk-margin-bottom
                    table#ts_issues.uk-table.uk-table-align-vertical.uk-table-nowrap.tablesorter.tablesorter-altair
                        thead
                            tr
                                //- th.uk-text-center Key
                                th #
                                th Title
                                th Owner
                                //- th Email
                                th Website
                                //- th Priority
                                //- th Created
                                //- th Updated
                                //- th Status
                                th.uk-text-center Actions
                        tfoot
                            tr
                                //- th.uk-text-center Key
                                th #
                                th Title
                                th Owner
                                //- th Email
                                th Website
                                //- th Priority
                                //- th Created
                                //- th Updated
                                //- th Status
                                th.uk-text-center Actions
                        tbody
                            //- on-last-repeat
                            //- data-ng-class-odd="'odd'"
                            tr(data-ng-repeat="company in $companiesCtrl.companies.collection | filter: $companiesCtrl.search" data-ng-class-even="'even'")
                                td(data-ng-bind="company.id")
                                td(data-ng-bind="company.title")
                                td(data-ng-bind="company.owner_name")
                                //- td
                                //-     a(href="mailto:{{company.email}}" data-ng-bind="company.email")
                                td
                                    a(href="{{company.website}}" data-ng-bind="company.website" target="_blank")
                                td.uk-text-center
                                    a(data-ui-sref="restricted.ecommerce.product_details" href="#")
                                        i.md-icon.material-icons.md-24 &#xE417;
                                    a(href="#")
                                        i.md-icon.material-icons.md-24 &#xE872;
                                //- td.uk-text-center
                                //-     span.uk-text-small.uk-text-muted.uk-text-nowrap
                                //-         span(data-ng-bind="company.title")
                                //-         | -
                                //-         span(data-ng-bind="company.subtitle")
                                //- td
                                //-     a(data-ui-sref="restricted.pages.issues.details({ issueId: issue.item_id })" data-ng-bind="issue.title")
                                //- td(data-ng-bind="issue.assignee")
                                //- td ---
                                //- td.uk-text-small(data-ng-bind="issue.date_created")
                                //- td.uk-text-small(data-ng-bind="issue.date_updated")
                                //- td
                                //-     span.uk-badge.uk-badge-outline.uk-text-upper(data-ng-bind="issue.status")
                //- dir-pagination-controls(max-size="5" auto-hide="false" boundary-links="true")
                //- ul.uk-pagination.ts_pager
                //-     li(data-uk-tooltip title="Select Page")
                //-         select.ts_gotoPage.ts_selectize
                //-     li.first
                //-         a(href="javascript:void(0)")
                //-             i.uk-icon-angle-double-left
                //-     li.prev
                //-         a(href="javascript:void(0)")
                //-             i.uk-icon-angle-left
                //-     li
                //-         span.pagedisplay
                //-     li.next
                //-         a(href="javascript:void(0)")
                //-             i.uk-icon-angle-right
                //-     li.last
                //-         a(href="javascript:void(0)")
                //-             i.uk-icon-angle-double-right
                //-     li(data-uk-tooltip title="Page Size")
                //-         selectize(config="{ maxItems: 1, valueField: 'value', labelField: 'title', searchField: 'title', create: false }" options="[{id: 1, title: 5, value: 5 }, {id: 2, title: 10, value: 10}]" data-ng-model="test")
                //-         select.pagesize.ts_selectize
                //-             option(value="5")  5
                //-             option(value="10") 10
                //-             option(value="25") 25
                //-             option(value="50") 50
div.md-fab-wrapper
    a.md-fab.md-fab-accent(href="#new_issue" data-uk-modal="{ center:true }")
        i.material-icons &#xE145;
