header#header_main
    .header_main_content
        nav.uk-navbar
            sidebar-primary-toggle
            //- .main_logo_top
            //-     img(src=require("../../assets/template/images/logo.png") alt="LLC DealerPoint" width="35")

