div(class="md-preloader{{style}}")
    svg(xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        ng-attr-height="{{ height }}"
        ng-attr-width="{{ width }}" viewbox="0 0 75 75")
        circle(cx="37.5" cy="37.5" r="33.5" ng-attr-stroke-width="{{ strokeWidth }}")
