// html {
//     overflow: hidden !important;
// }

// #main_view {
//     height: 100% !important;
//     & > div {
//         height: 100% !important;
//         & > #page_content {
//             // height: 100% !important;
//             overflow-y: scroll;
//         }
//     }
// }

.td-text-overflow {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.td-nowrap {
    white-space: nowrap;
}

html {
}

.object-card {
    li {
        padding-top: 5px !important;
    }
}
