div.md-card
    {{company}}
    div.md-card-toolbar
        h3.md-card-toolbar-heading-text Details
    div.md-card-content
        div.uk-grid.uk-grid-divider.uk-grid-medium
            div.uk-width-large-1-2
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small Product Name
                    div.uk-width-large-2-3
                        span.uk-text-large.uk-text-middle
                            a(href="#") Galaxy S6 edge
                hr.uk-grid-divider
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small Manufacturer
                    div.uk-width-large-2-3
                        span.uk-text-large.uk-text-middle.ng-binding Samsung
                hr.uk-grid-divider
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small Serial Number
                    div.uk-width-large-2-3
                        SM-G925TZKFTMB
                hr.uk-grid-divider
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small Internal Memory
                    div.uk-width-large-2-3
                        64GB
                hr.uk-grid-divider
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small Color
                    div.uk-width-large-2-3
                        Black
                hr.uk-grid-divider.uk-hidden-large
            div.uk-width-large-1-2
                p
                    span.uk-text-muted.uk-text-small.uk-display-block.uk-margin-small-bottom Tags
                hruk-grid-divider
                p
                    span.uk-text-muted.uk-text-small.uk-display-block.uk-margin-small-bottom Description
                    span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam necessitatibus suscipit velit voluptatibus! Ab accusamus ad adipisci alias aliquid at atque consectetur, dicta dignissimos, distinctio dolores esse fugiat iste laborum libero magni maiores maxime modi nemo neque, nesciunt nisi nulla optio placeat quas quia quibusdam quis saepe sit ullam!
