div.md-card
    div.md-card-toolbar
        h3.md-card-toolbar-heading-text Details
    div.md-card-content
        div
            div
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small Name
                    div.uk-width-large-2-3
                        span.uk-text-large.uk-text-middle(data-ng-bind="$companyCardCtrl.companyObject.name")
                hr.uk-grid-divider
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small Short name
                    div.uk-width-large-2-3
                        span.uk-text-large.uk-text-middle(data-ng-bind="$companyCardCtrl.companyObject.short_name")
                hr.uk-grid-divider
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small Owner
                    div.uk-width-large-2-3
                        span.uk-text-large.uk-text-middle
                            span(data-ng-bind="$companyCardCtrl.companyObject.owner_name")
                hr.uk-grid-divider
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small Country
                    div.uk-width-large-2-3
                        span.uk-text-large.uk-text-middle(data-ng-bind="$companyCardCtrl.companyObject.country")
                hr.uk-grid-divider
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small City
                    div.uk-width-large-2-3
                        span.uk-text-large.uk-text-middle(data-ng-bind="$companyCardCtrl.companyObject.city")
                hr.uk-grid-divider
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small Phone
                    div.uk-width-large-2-3
                        span.uk-text-large.uk-text-middle(data-ng-bind="$companyCardCtrl.companyObject.phone")
                hr.uk-grid-divider
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small Site
                    div.uk-width-large-2-3
                        a.uk-text-large.uk-text-middle(data-ng-href="{{$companyCardCtrl.companyObject.site}}" data-ng-bind="$companyCardCtrl.companyObject.site" target="_blank")
                hr.uk-grid-divider
                div.uk-grid.uk-grid-small
                    div.uk-width-large-1-3
                        span.uk-text-muted.uk-text-small Description
                    div.uk-width-large-2-3
                        span(data-ng-bind="$companyCardCtrl.companyObject.description") 
                //- hr.uk-grid-divider
                //- div.uk-grid.uk-grid-small
                //-     div.uk-width-large-1-3
                //-         span.uk-text-muted.uk-text-small Internal Memory
                //-     div.uk-width-large-2-3
                //-         | 64GB
                //- hr.uk-grid-divider
                //- div.uk-grid.uk-grid-small
                //-     div.uk-width-large-1-3
                //-         span.uk-text-muted.uk-text-small Color
                //-     div.uk-width-large-2-3
                //-         | Black
                //- hr.uk-grid-divider.uk-hidden-large
            //- div.uk-width-large-1-2
                //- p
                //-     span.uk-text-muted.uk-text-small.uk-display-block.uk-margin-small-bottom Tags
                //- hr.uk-grid-divider
