h3 Altair-245
form.uk-form-stacked
    div.uk-margin-medium-bottom
        div.uk-form-row
            label(for="task_title") Title
            input.md-input(type="text" name="snippet_title" md-input)
            span.md-input-bar
        div.uk-form-row
            label(for="login_username") Username
            input.md-input(type="text" data-ng-model="login_username" md-input)
div.uk-text-right
    button.md-btn.md-btn-flat.uk-modal-close(type="button" data-ng-click="closeThisDialog()") Close
    button#snippet_new_save.md-btn.md-btn-flat.md-btn-flat-primary(type="button") Add Task
