div#page_content(style="padding:20px")
    button.md-btn.md-btn-success.md-btn-wave-light.waves-effect.waves-button.waves-light(data-ng-click="$welcomeCtrl.showPreloader()") Показать прелоадер
    button.md-btn.md-btn-primary.md-btn-wave-light.waves-effect.waves-button.waves-light(data-ng-click="$welcomeCtrl.hidePreloader()") Спрятать прелоадер
    button.md-btn.md-btn-default.md-btn-wave-light.waves-effect.waves-button.waves-light.uk-float-right(data-ng-click="$welcomeCtrl.addCompany()") Добавить компанию
    div.uk-form-row(style="padding-top: 10px;")
        label(for="login_username") Username
        input.md-input(type="text" data-ng-model="login_username" md-input)
