div#page_content
    div#page_heading(data-uk-sticky="{ top: 48, media: 960 }")
        div.uk-width-medium-1-2(style="float: right;")
            div.uk-input-group
                span.uk-input-group-addon
                    .i.material-icons &#xE8B6;
                label Search
                input.md-input(type="text" data-ng-model="$eventsCtrl.search" md-input)
        h1(data-ng-bind="$eventsCtrl.listTitle")
    div#page_content_inner
        div.md-card
            div.md-card-content
                div.uk-overflow-container.uk-margin-bottom
                    table#ts_issues.uk-table.uk-table-align-vertical.tablesorter.tablesorter-altair.status-border-left
                        thead
                            tr
                                th Title
                                th Kind
                                th.uk-text-center
                                th Assigned at
                                th Status
                                th Assigned by
                                //- th Description
                                th.uk-text-center Actions
                        tfoot
                            tr
                                th Title
                                th Kind
                                th.uk-text-center
                                th Assigned at
                                th Status
                                th Assigned by
                                //- th Description
                                th.uk-text-center Actions
                        tbody
                            tr(data-ng-repeat="event in $eventsCtrl.events.collection | filter: $eventsCtrl.search | orderBy: '-assigned_at_timestamp'" data-ng-class-even="'even'")
                                td(data-ng-bind="event.title")
                                td
                                    nobr(data-ng-switch="event.kind")
                                        span(data-ng-switch-when="incoming_call") Incoming call
                                        span(data-ng-switch-when="outgoing_call") Outgoing call
                                        span(data-ng-switch-when="meet") Meet
                                        span(data-ng-switch-when="request") Request
                                td
                                    span.uk-badge.uk-badge-danger(data-ng-show="event.overdue") overdue
                                td(data-ng-bind="event.assigned_at")
                                td(data-ng-switch="event.status")
                                    span.uk-badge(data-ng-switch-when="pending") Pending
                                    span.uk-badge.uk-badge-success(data-ng-switch-when="done") Done
                                    span.uk-badge.uk-badge-danger(data-ng-switch-when="canceled") Canceled
                                td
                                    a
                                        span(data-ng-bind="event.assigned_by.name")
                                        | &nbsp;
                                        span(data-ng-bind="event.assigned_by.lastname")
                                //- td(data-ng-bind="event.description")
                                td.uk-text-center
                                    a(href="javascript:void(0)")
                                        i.md-icon.material-icons.md-24(data-ng-click="$eventsCtrl.edit(event)") &#xE254;
                                    a(href="javascript:void(0)")
                                        i.md-icon.material-icons.md-24(data-ng-click="$eventsCtrl.remove(event)") &#xE872;
div.md-fab-wrapper
    a.md-fab.md-fab-accent(href="javascript:void(0)" data-ng-click="$eventsCtrl.add()")
        i.material-icons &#xE145;
//- c4279938@trbvn.com
