div#page_content
    //- div.page_heading
        | 1
    div#page_content_inner
        div.uk-grid.uk-grid-medium
            div.uk-width-large-2-10.uk-row-first
                div.md-card(data-ng-if="$companyCardCtrl.companyObject.logo.url")
                    div.md-card-content
                        div.uk-margin-bottom.uk-text-center
                            i.material-icons.md-70(data-ng-hide="$companyCardCtrl.companyObject.logo.url") &#xE7EE;
                            img.img_medium(data-ng-show="$companyCardCtrl.companyObject.logo.url" data-ng-src="{{$companyCardCtrl.companyObject.logo.url}}" title="{{$companyCardCtrl.companyObject.name}}")
                div.md-card
                    div.md-card-content
                        div.uk-text-center
                            h2.uk-margin-remove(data-ng-bind="$companyCardCtrl.companyObject.name")
                            //- h3.uk-margin-remove 华为技术有限公司
                div.md-card
                    //- div.md-card-toolbar
                    //-     h3.md-card-toolbar-heading-text Data
                    div.md-card-content
                        ul.md-list.object-card
                            li
                                div.md-list-content
                                    span.uk-text-small.uk-text-muted.uk-display-block Owner
                                    span.md-list-heading.uk-text-large(data-ng-bind="$companyCardCtrl.companyObject.owner_name")
                            li
                                div.md-list-content
                                    span.uk-text-small.uk-text-muted.uk-display-block Country
                                    span.md-list-heading.uk-text-large(data-ng-bind="$companyCardCtrl.companyObject.country")
                            li
                                div.md-list-content
                                    span.uk-text-small.uk-text-muted.uk-display-block City
                                    span.md-list-heading.uk-text-large(data-ng-bind="$companyCardCtrl.companyObject.city")
                            li
                                div.md-list-content
                                    span.uk-text-small.uk-text-muted.uk-display-block Phone
                                    span.md-list-heading.uk-text-large(data-ng-bind="$companyCardCtrl.companyObject.phone")
                            li
                                div.md-list-content
                                    span.uk-text-small.uk-text-muted.uk-display-block Site
                                    a.md-list-heading.uk-text-large(data-ng-href="{{$companyCardCtrl.companyObject.site}}" data-ng-bind="$companyCardCtrl.companyObject.site")
                            li
                                div.md-list-content
                                    span.uk-text-small.uk-text-muted.uk-display-block Created by
                                    span.md-list-heading.uk-text-large
                                        a(href="javascript:void(0)")
                                            span(data-ng-bind="$companyCardCtrl.companyObject.created_by.name")
                                            | &nbsp;
                                            span(data-ng-bind="$companyCardCtrl.companyObject.created_by.lastname")
            div.uk-width-large-6-10
                div(data-ui-view autoscroll="false")
            div.uk-width-large-2-10
                div.md-card
                    div.md-card-toolbar
                        h3.md-card-toolbar-heading-text Menu
                    div.md-card-content
                        ul.md-list.md-list-outside.object-card
                            li(data-ui-sref-active="md-list-item-active" data-ng-repeat="tool in $companyCardCtrl.cardToolsService.tools | orderBy: tool.position")
                                //- ui-sref-active="md-list-item-active"
                                a.md-list-content(data-ui-sref="{{tool.uiState}}" data-ng-bind="tool.translationId")
