div#page_content
    div#page_heading(data-uk-sticky="{ top: 48, media: 960 }")
        div.uk-width-medium-1-2(style="float: right;")
            div.uk-input-group
                span.uk-input-group-addon
                    .i.material-icons &#xE8B6;
                label Search
                input.md-input(type="text" data-ng-model="$offersCtrl.search" md-input)
        h1(data-ng-bind="$offersCtrl.listTitle")
    div#page_content_inner
        div.md-card
            div.md-card-content
                div.uk-overflow-container.uk-margin-bottom
                    table#ts_issues.uk-table.uk-table-align-vertical.tablesorter.tablesorter-altair
                        thead
                            tr
                                th #
                                th Name
                                th Data
                                th.uk-text-center Actions
                        tbody
                            tr(data-ng-repeat="offer in $offersCtrl.offers.collection | filter: $offersCtrl.search | orderBy: 'id'" data-ng-class-even="'even'")
                                td(data-ng-bind="offer.id")
                                td(data-ng-bind="offer.name")
                                td(data-ng-bind="offer.data | json")
                                td.uk-text-center.td-nowrap
                                    a(href="javascript:void(0)" data-ng-click="$offersCtrl.view(offer)")
                                        i.md-icon.material-icons.md-24 &#xE417;
                                    a(href="javascript:void(0)" data-ng-click="$offersCtrl.edit(offer)")
                                        i.md-icon.material-icons.md-24 &#xE254;
                                    a(href="javascript:void(0)" data-ng-click="$offersCtrl.remove(offer)")
                                        i.md-icon.material-icons.md-24 &#xE872;
                        tfoot
                            tr
                                th #
                                th Name
                                th Data
                                th.uk-text-center Actions
div.md-fab-wrapper
    a.md-fab.md-fab-accent(href="" data-ui-sref="restricted.offer_generator")
        i.material-icons &#xE145;
