center
    img(src="https://upload.wikimedia.org/wikipedia/bar/thumb/2/27/Hello_Kitty_logo.svg/2000px-Hello_Kitty_logo.svg.png" width="500px")
br
p.user(data-ng-bind="$ctrl.text")
center
    a.md-btn.md-btn-primary.md-btn-wave-light.waves-effect.waves-button.waves-light Primary
    span.subtext (CRM for trucks)

